<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs')%>

    <div class="container">
        <div class="row mt-5 justify-content-start">
            <% if (prods.length > 0){ %>
            <% for (let product of prods) { %>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 mb-5">
                <div class="card" style="width: 22rem;">
                    <img src="/<%= product.imageUrl %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">$<%= product.price %></h6>
                        <hr>
                        <h5 class="card-title"><%= product.title %></h5>
                        <p class="card-text"><%= product.description %></p>
                    </div>
                    <div class="card-footer">
                        <a href="/admin/edit-product/<%= product._id %>?edit=true" class="col-sm-6 btn btn-success">Edit</a>                                               
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">    
                        <input type="hidden" value="<%= product._id %>" name="productId" />
                        <button type="button" class="col-sm-6 btn btn-danger" onclick="deleteProduct(this)">Delete</button>
                       
                    </div>
                </div>
            </div>
            <% } %>
            <% } else { %>
            <h1>Not Found Products</h1>
            <% } %>
        </div>

    </div>
    <script src="/js/admin.js"></script>
    <%- include('../includes/end.ejs')%>
    
