<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs')%>

    <div class="container">
        <div class="row mt-5">
            <% if (prods.length > 0){ %>
            <% for (let product of prods) { %>
            <div class="col-md-4 mb-5">
                <div class="card" style="width: 18rem;">
                    <img src="<%= product.imageUrl %>" class="card-img-top" alt="..." style="width: 286px; height: 191px;">
                    <div class="card-body">
                        <h6 class="card-title">$<%= product.price %></h6>
                        <hr>
                        <h5 class="card-title"><%= product.title %></h5>
                        <p class="card-text"><%= product.description %></p>
                        <div style="display: inline-block !important;">
                            <a href="/products/<%= product._id %>" class="btn btn-outline-secondary btn-sm">Details</a>
                            <% if(isAuthenticated) { %>
                                <%- include('../includes/add-to-cart.ejs', {product:product}) %>
                            <% } %>
                        </div>


                    </div>
                </div>
            </div>
            <% } %>
            <% } else { %>
            <h1>Not Found Products</h1>
            <% } %>
        </div>

    </div>
    <%- include('../includes/end.ejs')%>
